<body>
    <div class="container p-4">
        <div class="container">
            <div class="jumbotron">
                <h1 class="Librería">Librería</h1>
                <p class="lead">¡Bienvenido a la librería del saber, donde podrás encontrar libros que no podras dejar de leer!</p>
                <p>¡Disfruta leyendo y aprendiendo sobre romance, acción, ficción y todo lo que quieras imaginar en nuestra extensa variedad de libros!</p>
                <a href="/home" class="btn btn-primary btn-lg">
                    ¡Explorar Librería!
                </a>
            </div>
        </div>
    </div>
</body>