<body>
	<div class="message" *ngIf="this.load">
		<div class="loading loading--full-height"></div>
		<div class="id_message">Autenticando...</div>
	</div>
	<div class="alert" *ngIf="this.alert">
		<div class="id_message" *ngIf="this.NoUser">No existe ese usuario</div>
		<div class="id_message" *ngIf="this.Forbidden">Correo o contraseña incorrecto(s)</div>
	</div>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('./assets/images/fondo.jpg');">
			
			<div class="wrap-login100" style="margin: 0%;">
			
					<span class="login100-form-logo" >
						<img src="./assets/user.png">
					</span>

					<span style="margin:0%; padding:0%" class="login100-form-title p-b-34 p-t-27">
						Ingresar
					</span>

					<div class="text-center p-t-90" style="margin: 0%; text-align: center;">
						<p>¿No tienes cuenta?</p>
						<a class="txt1" href="/registro">
							Crear cuenta
						</a>
					</div>

					
					<div class="wrap-input100 validate-input" data-validate = "Necesita ingresar nombre de usuario">
						<input id="user" class="input100" type="text" name="usuario" placeholder="Ingresa tu usuario" #email (focus)="hiddenU()">
						<span class="focus-input100" ><img src="./assets/user2.png" *ngIf="this.iconUser"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Necesita ingresar contraseña">

						<input id="pass"  class="input100" type="password" name="contraseña" placeholder="Contraseña" #pass (focus)="hiddenP()">
						<span class="focus-input100" ><img src="./assets/pass.png" *ngIf="this.iconPass"></span>
					
						
					</div>

					<div class="contact100-form-checkbox" >
						<div>
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" style="margin:0" >
						
							<label class="label-checkbox100" for="ckb1">
								Recordarme
							</label>

						</div>
					</div>

					<div class="container-login100-form-btn">
						<button value="ingresar" class="login100-form-btn" (click)='Check_Des(email.value,pass.value)'>
							Ingresar
						</button>
					</div>
					

					<div class="text-center p-t-90" style="text-align: center;">
						<a class="txt1" href="recovery_pass.html">
							¿Olvidaste tu contraseña?
						</a>
					</div>
                    
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>

	
